* {
    padding: 0;
}
/* .container_detail{
    position: relative;
} */
.grid_container {
    width: 100%;
}

.page_title {
    width: 100%;
    box-sizing: border-box;
    margin: 1%;
}
.imageContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}
.mainPicture {
    width: 100%;
    max-height: 100%;
    overflow: hidden;
}

.infoContainer {
    width: 100%;
    height: 100%;
    margin: 10% 0;
    padding: 10% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}
.description {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.precio_container {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.precio {
    font-size: 2.5rem;
    padding: 0;
}
.cuotas {
    width: 100%;
    padding: 0;
    font-weight: 600;
    color: #3ab23a;
}
/* .desc_container {
    position: relative;
} */
.fixed_container {
    display: flex;
    justify-content: right;
    position: sticky;
    top: -8%;
    margin: 0;
}
.MuiBox-root {
    padding-top: 0;
}

@media (max-width:1200px) {
    * {
        font-size: 1.1rem;
    }
    
    .mainPicture {
        max-width: 100vw;
    }
    .precio {
        font-size: 1.5rem;
        padding: 0;
    }
    .infoContainer {
        margin-top: 1%;
        width: 100%;
        padding: 0 1%;
    }
    .description {
        max-width: 500px;
    }
    .imageContainer {
        width: 100%;
        display: flex;
        justify-content: center;
        position: sticky;
    }
}
