.cartButton {
    display: block;
    margin: 0 2%;
    border-radius: 50%;
}
.cartButton:hover {
    background-color: #ffffffea;
    color: #000;
    transition-duration: 400ms;
}
@media (max-width: 930px) {
    .cartButton {
        padding: 0%;
        margin: .5%;
    }
}