@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
* {
    font-family: 'Didact Gothic', sans-serif;
    box-sizing: border-box;
}
.nav_container {
    background-color: #000;
}
.navBar {
    height: 60px;
    width: 100%;
    border-bottom: 1px solid #000;
}
.AppBar {
    box-sizing: border-box;
    width: 100%;
}
.toolbar {
    width: 100%;
    justify-content: space-around;
}
.img_logo {
    width: 15%;
    min-width: 100px;
    margin-left: .5%;
}
.nav_container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    list-style: none;
    font-weight:900;
    margin-left: 1%;
}
.nav_item {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.link_nav:hover {
    background-color: #ffffffea;
    color: #000;
    transition-duration: 400ms;
}
.nav_item:hover :first-child {
    color: #000;
    background-color: none;
    transition-duration: 400ms;
}
.link_nav {
    width: 100%;
    display: inline-block;
    background-color: #000;
    text-decoration:none;
    color: #fff;
    padding: 10px 0;
    margin: 0;
    cursor: pointer;
}
.link_menu_nav {
    text-decoration:none;
    color: rgb(0, 0, 0);
    cursor: pointer;
}
.link_nav:hover {
    color: #000;
    background-color: none;
}
.responsiveButton {
    display: none;
}
.menu_icon {
    display: none;
}
.MuiPaper-root{
    border-radius: 0px;
}
@media (max-width: 992px) {
    .nav_container {
        width: 100%;
    }

}
@media (max-width: 600px) {
    .nav_container {
        display: none;
    }
    .toolbar {
        display: flex;
        justify-content: space-around;
    }
    .responsiveButton {
        display: block;
        margin: 0 2%;
        border-radius: 50%;
    }
    .responsiveButton:hover {
        background-color: #ffffffea;
        color: #000;
        transition-duration: 400ms;
    }
}