.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.page_title {
    width: 100%;
    box-sizing: border-box;
    margin: 1% 0;
}
span {
    margin: 0 auto
}